@import url('https://fonts.googleapis.com/css?family=Orbitron');
.btn-success {
    position: absolute;
    right: 20px;
    margin-top: 5px;
    width: 80px;
    height:30px;
    padding:0px;
}
#demo
{
	position: absolute;
	right: 150px;
    margin-top: 160px;
	font-family: 'Orbitron';
	color: black;
	font-weight: bold;
	font-size:20px;
}
#demo1
{
	position: absolute;
	right: 185px;
    margin-top: 260px;
	font-family: 'Orbitron';
	color: black;
	font-weight: bold;
	font-size:20px;
}
#demo3
{
	position: absolute;
	right: 185px;
    margin-top: 360px;
	font-family: 'Orbitron';
	color: black;
	font-weight: bold;
	font-size:20px;
}
#demo6
{
	  position: absolute;
	  font-family: 'Orbitron';
	color: red;
	font-weight: bold;
	font-size:20px;
}
.nav-tabs
{
background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 0, 0), rgb(67, 67, 67)) repeat scroll 0% 0%;
}
#bd
{
	background-image: url('https://cdn3.iconfinder.com/data/icons/stock/484/stock_find_search_online_computer_trend-512.png');
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
	
}
#sel
{
	 
	background: rgba(0, 0, 0, 0) linear-gradient(to left, rgb(209, 145, 60), rgb(255, 209, 148)) repeat scroll 0% 0%;
      height: 95%;
      position: absolute;
      top: 42px;
      right: 0px;
      width: 30%;
}
